.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(170, 185, 197);
  height: 80px;
  align-items: center;
  position: relative;
}

.div--riddle--container {
  align-items: center;
  justify-content: center;
}

.button--leaderboard {
  height: 80px;
  font-size: 1.2em;
  outline: 0;
  border: 0;
}

.h3--title {
  margin-left: 10px;
}


.button--leaderboard:hover {
  background-color: lightgrey;
}