* {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
}

.div--riddle--container {
    display: flex;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 400px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
}

.div--riddle--container--solved {
    display: flex;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 400px;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgreen;
}

.div--button--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

}

.form--container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.input--answer {
    margin: 15px;
    border: 0;
    border-bottom: 1px solid lightgrey;
    outline: 0;
    font-size: 1.2em;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.input--answer--submit {
    border-radius: 25px;
    outline: 0;
    border: lightgrey;
    padding: 5px;
    font-size: 1.2em;
    background-color: limegreen;
    color: white;
    margin-top: 15px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}


.input--answer--submit:hover {
    background-color: rgb(139, 255, 139);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img--right--arrow {
    transform: rotate(180deg);
    height: 30px;
    width: 30px;
}

.img--left--arrow {
    height: 30px;
    width: 30px;
}

.p--completed {
    text-align: center;
    padding: 10px;
}

.p--wrongAnswer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.h4--question {
    width: auto;
    text-align: center;
    height: 100px;
    padding-top: 20px;
  
}

@media only screen and (max-width: 425px) {
    .div--riddle--container--solved {
        width: 300px;
    }

    .div--riddle--container {
        width: 300px;
    }

    .input--answer {
        width: 200px;
    }
  }